NEXT_PUBLIC_API_BACKEND = 'http://localhost:3000'
API_URL = 'http://localhost:3000'
# opsional: kalau tidak diset, server memakai API_URL untuk panggilan SSR juga
# API_BACKEND_INTERNAL = 'http://api.default.svc.cluster.local:3000'